.Soda {
    margin-top: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 30px;
    padding: 60px;
}

.Soda-return {
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}

.Soda img {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 400px;
}